[*.{kt, kts}]
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# because of feature in intellij, where java and kotlin imports end up as last items
# https://github.com/pinterest/ktlint/issues/527
disabled_rules = import-ordering
