<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <JsonLayout eventEol="true" compact="true">
                <KeyValuePair key="correlationId" value="${ctx:correlationId}"/>
                <KeyValuePair key="severity" value="$${event:Level}"/>
            </JsonLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.unity" level="INFO" additivity="false">
            <appender-ref ref="consoleAppender"/>
        </Logger>

        <Logger name="org.flywaydb" level="INFO" additivity="false">
            <appender-ref ref="consoleAppender"/>
        </Logger>

        <Root level="WARN">
            <AppenderRef ref="consoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
