.radial-progress {
    min-width: 26px;
    min-height: 20px;
    --track-color: rgb(130, 130, 130);
    --progress-color: rgb(46, 132, 24);
    --percentage-color: white;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: row;
    justify-content: center;
    width: 100px; 
    height: 100px;
}

.radial-progress__label {
    -unity-text-align: middle-left;
    color: var(--percentage-color);
}